  body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    }
    .form{
        background-color:white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgb(0, 0, 0, 0, 1);
    }
    .form label{
        display: inline-block;
        margin: 10px 0 10px;
    }
    
    .form input{
        width: 25%;
        padding:8px;
        margin-bottom: 10px;
        border: 1px solid black;
        border-radius: 4px; ;

    } 
    .form button{
        padding: 8px 10px;
        border: none;
        background-color: #28a745;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
    .form button:hover{
        background-color: #218838;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        background-color: white;
    }
    table th , table td{
        border: 1px solid #dfc6c6;
        padding: 10px;
        text-align: left;
    }
    table th{
        background-color: #dbacac;
    }
    /* .action button{
        padding: 5px 10px;
        margin-right: 5px;
        border: none;
        cursor: pointer;
    }
    .action button:first-child{
        background-color: #76a2d1;
        color: white;
    }
    .action button:first-child:hover{
        background-color: #367ac3;
    }

    .action .delete{
        background-color: #d75f6b;
    }
    .action .delete:hover{
        background-color: #cd2a3a;
    } */