.container{
    background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;

  

  
}